<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.5/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>

    <php>
        <ini name="memory_limit" value="-1" />
    </php>

    <testsuites>
        <testsuite name="PhpFlo Test Suite">
            <directory>src/PhpFlo/*/Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/PhpFlo/*</directory>
            <exclude>
                <directory>src/PhpFlo/*/Tests</directory>
                <directory>src/PhpFlo/*/Test</directory>
                <directory>src/PhpFlo/*/vendor</directory>
                <directory>src/PhpFlo/*/bin</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
